<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home Page</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="common-css/bootstrap.css" rel="stylesheet">

	<link href="common-css/ionicons.css" rel="stylesheet">


	<link href="layout-1/css/styles.css" rel="stylesheet">

	<link href="layout-1/css/responsive.css" rel="stylesheet">

</head>
<body >

	<header th:fragment="navlink">
		<div  class="container-fluid position-relative no-side-padding">

			<a href="#" class="logo"><img src=" https://res.cloudinary.com/dyarncgbq/image/upload/v1574713076/download_m5xhot.png" alt="Logo Image"></a>

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="/">Home</a></li>
				<li><a href="/form">Add Job</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul><!-- main-menu -->

			<div class="src-area">
				<form th:action="@{/searchlist}" method="post">
					<button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
					<label>
						<input class="src-input" type="text" name="search" placeholder="Type of search">
					</label>
				</form>
			</div>

		</div><!-- conatiner -->
	</header>

	<div class="slider"></div><!-- slider -->

	<section class="blog-area section">
		<div class="container">

			<div class="row">

				<div class="col-lg-4 col-md-6" th:each="job :${jobs}" >
					<div class="card h-100">
						<div class="single-post post-style-1">

							<div class="blog-image">
								<div th:if="${job.pic} != null">
								<img class="card-img-top" th:src="${job.pic}" alt="Card image cap" >
							</div>
							</div>



							<div class="blog-info">

								<h4 class="title" th:text="${job.title}"></h4>
								<p th:text="${job.description}"> </p>

							</div>
							<div class="card-footer text-muted" th:inline="text"> Posted on [[${job.postedDate}]] by [[${job.author}]]</div>
							<div class="row">
								<div class="col-md-4">
									<button class="btn-primary rounded"><a th:href="@{/update/{id}(id=${job.id})}">Update</a></button>
								</div>
								<div class="col-md-4">
									<button class="btn-info rounded"><a th:href="@{/detail/{id}(id=${job.id})}">Detail</a></button>
								</div>
								<div class="col-md-4">
									<button class="badge-danger rounded"><a th:href="@{/delete/{id}(id=${job.id})}">Delete</a></button>
								</div>

								<ul class="post-footer">
									<li><a href="#"><i class="ion-heart"></i>57</a></li>
									<li><a href="#"><i class="ion-chatbubble"></i>6</a></li>
									<li><a href="#"><i class="ion-eye"></i>138</a></li>
								</ul>

							</div><!-- blog-info -->
						</div><!-- single-post -->
					</div><!-- card -->
				</div><!-- col-lg-4 col-md-6 -->


			</div><!-- row -->

			<a class="load-more-btn" href="#"><b>LOAD MORE</b></a>

		</div><!-- container -->
	</section><!-- section -->


	<footer id="contact" th:fragment="foot">

		<div class="container">
			<div class="row">

				<div class="col-lg-4 col-md-6">
					<div class="footer-section">

						<a class="logo" href="#"><img src="https://res.cloudinary.com/dyarncgbq/image/upload/v1574713076/download_m5xhot.png" alt="Logo Image"></a>
						<p class="copyright">Copyright @ 2019. All rights reserved.</p>
						<p class="copyright">Designed by <a href="http://petrosmelake.ga" target="_blank">Petros</a></p>
						<ul class="icons">
							<li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
						</ul>

					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-lg-4 col-md-6">
						<div class="footer-section">
						<h4 class="title"><b>CATAGORIES</b></h4>
						<ul>
							<li><a href="#">IT</a></li>
							<li><a href="#">HEALTH</a></li>
							<li><a href="#">MUSIC</a></li>
						</ul>
						<ul>
							<li><a href="#">EDUCATION</a></li>
							<li><a href="#">FASHION</a></li>
							<li><a href="#">TRANSPORT</a></li>
						</ul>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-lg-4 col-md-6">
					<div class="footer-section">

						<h4 class="title"><b>SUBSCRIBE</b></h4>
						<div class="input-area">
							<form>
								<input class="email-input" type="text" placeholder="Enter your email">
								<button class="submit-btn" type="submit"><i class="icon ion-ios-email-outline"></i></button>
							</form>
						</div>

					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

			</div><!-- row -->
		</div><!-- container -->
	</footer>


	<!-- SCIPTS -->

	<script src="common-js/jquery-3.1.1.min.js"></script>

	<script src="common-js/tether.min.js"></script>

	<script src="common-js/bootstrap.js"></script>

	<script src="common-js/scripts.js"></script>

</body>
</html>
